.link-uix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    background-color: rgb(9, 9, 31);
    padding: 15px;
}

.login-section a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    color: #00bbff;
}

.uix-container a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}